<ul>
  <li><%= link_to 'Alerts', '/showcase/alerts' %></li>
  <li><%= link_to 'Buttons', '/showcase/buttons' %></li>
  <li><%= link_to 'Pagination', '/showcase/pagination' %></li>
  <li><%= link_to 'Labels', '/showcase/labels' %></li>
  <li><%= link_to 'Tables', '/showcase/tables' %></li>
</ul>