<h1>Tables</h1>

<h2>Base element styling</h2>

<%= showcase do %>
  <%= showcase_sample do %>
    <table>
      <thead>
      <tr>
        <th>API client</th>
        <th>Click outs</th>
        <th>Revenue API client</th>
        <th>Revenue supplier</th>
        <th>eCPC</th>
        <th>Conversion</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Studentmobiel.nl</td>
        <td>2147</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td>WebsiteGroep</td>
        <td>1843</td>
        <td>1561.798</td>
        <td>669.342</td>
        <td>1.21</td>
        <td>3.8</td>
      </tr>
      <tr>
        <td>iCulture</td>
        <td>1395</td>
        <td>223.265</td>
        <td>95.685</td>
        <td>0.23</td>
        <td>0.72</td>
      </tr>
      <tr>
        <td>Androidworld</td>
        <td>1011</td>
        <td>244.755</td>
        <td>104.895</td>
        <td>0.35</td>
        <td>1.19</td>
      </tr>
      <tr>
        <td>Kok Media</td>
        <td>888</td>
        <td>550.991</td>
        <td>236.139</td>
        <td>0.89</td>
        <td>2.7</td>
      </tr>
      <tr>
        <td>Kieskeurig.nl</td>
        <td>588</td>
        <td>587.293</td>
        <td>251.697</td>
        <td>1.43</td>
        <td>4.08</td>
      </tr>
      <tr>
        <td>iPhone.nl</td>
        <td>550</td>
        <td>229.6</td>
        <td>98.4</td>
        <td>0.6</td>
        <td>1.64</td>
      </tr>
      </tbody>
    </table>
  <% end %>
  <%= showcase_code do %>
    <table>
      ...
    </table>
  <% end %>
<% end %>

<h2>Condensed</h2>

<%= showcase do %>
  <%= showcase_sample do %>
    <table class="table--condensed">
      <thead>
      <tr>
        <th>API client</th>
        <th>Click outs</th>
        <th>Revenue API client</th>
        <th>Revenue supplier</th>
        <th>eCPC</th>
        <th>Conversion</th>
      </tr>
      </thead>
      <tbody>
      <tr class="tr--danger-bg">
        <td>Studentmobiel.nl</td>
        <td>2147</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td>WebsiteGroep</td>
        <td>1843</td>
        <td>1561.798</td>
        <td>669.342</td>
        <td>1.21</td>
        <td>3.8</td>
      </tr>
      <tr class="tr--danger">
        <td>iCulture</td>
        <td>1395</td>
        <td>223.265</td>
        <td>95.685</td>
        <td>0.23</td>
        <td>0.72</td>
      </tr>
      <tr>
        <td>Androidworld</td>
        <td>1011</td>
        <td>244.755</td>
        <td>104.895</td>
        <td>0.35</td>
        <td>1.19</td>
      </tr>
      <tr>
        <td>Kok Media</td>
        <td>888</td>
        <td>550.991</td>
        <td>236.139</td>
        <td>0.89</td>
        <td>2.7</td>
      </tr>
      <tr>
        <td>Kieskeurig.nl</td>
        <td>588</td>
        <td>587.293</td>
        <td>251.697</td>
        <td>1.43</td>
        <td>4.08</td>
      </tr>
      <tr>
        <td>iPhone.nl</td>
        <td>550</td>
        <td>229.6</td>
        <td>98.4</td>
        <td>0.6</td>
        <td>1.64</td>
      </tr>
      </tbody>
    </table>
  <% end %>
  <%= showcase_code do %>
    <table class="table--condensed">
      ...
    </table>
  <% end %>
<% end %>

<h2>Full</h2>

<%= showcase do %>
  <%= showcase_sample do %>
    <table class="table--full">
      <thead>
      <tr>
        <th>API client</th>
        <th>Click outs</th>
        <th>Revenue API client</th>
        <th>Revenue supplier</th>
        <th>eCPC</th>
        <th>Conversion</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Studentmobiel.nl</td>
        <td>2147</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td>WebsiteGroep</td>
        <td>1843</td>
        <td>1561.798</td>
        <td>669.342</td>
        <td>1.21</td>
        <td>3.8</td>
      </tr>
      <tr>
        <td>iCulture</td>
        <td>1395</td>
        <td>223.265</td>
        <td>95.685</td>
        <td>0.23</td>
        <td>0.72</td>
      </tr>
      <tr>
        <td>Androidworld</td>
        <td>1011</td>
        <td>244.755</td>
        <td>104.895</td>
        <td>0.35</td>
        <td>1.19</td>
      </tr>
      <tr>
        <td>Kok Media</td>
        <td>888</td>
        <td>550.991</td>
        <td>236.139</td>
        <td>0.89</td>
        <td>2.7</td>
      </tr>
      <tr>
        <td>Kieskeurig.nl</td>
        <td>588</td>
        <td>587.293</td>
        <td>251.697</td>
        <td>1.43</td>
        <td>4.08</td>
      </tr>
      <tr>
        <td>iPhone.nl</td>
        <td>550</td>
        <td>229.6</td>
        <td>98.4</td>
        <td>0.6</td>
        <td>1.64</td>
      </tr>
      </tbody>
    </table>
  <% end %>
  <%= showcase_code do %>
    <table class="table--full">
      ...
    </table>
  <% end %>
<% end %>

<h2>Striped</h2>

<%= showcase do %>
  <%= showcase_sample do %>
    <table class="table--striped">
      <thead>
      <tr>
        <th>API client</th>
        <th>Click outs</th>
        <th>Revenue API client</th>
        <th>Revenue supplier</th>
        <th>eCPC</th>
        <th>Conversion</th>
      </tr>
      </thead>
      <tbody>
      <tr class="tr--danger">
        <td>Studentmobiel.nl</td>
        <td>2147</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td>WebsiteGroep</td>
        <td>1843</td>
        <td>1561.798</td>
        <td>669.342</td>
        <td>1.21</td>
        <td>3.8</td>
      </tr>
      <tr>
        <td>iCulture</td>
        <td>1395</td>
        <td>223.265</td>
        <td>95.685</td>
        <td>0.23</td>
        <td>0.72</td>
      </tr>
      <tr>
        <td>Androidworld</td>
        <td>1011</td>
        <td>244.755</td>
        <td>104.895</td>
        <td>0.35</td>
        <td>1.19</td>
      </tr>
      <tr>
        <td>Kok Media</td>
        <td>888</td>
        <td>550.991</td>
        <td>236.139</td>
        <td>0.89</td>
        <td>2.7</td>
      </tr>
      <tr>
        <td>Kieskeurig.nl</td>
        <td>588</td>
        <td>587.293</td>
        <td>251.697</td>
        <td>1.43</td>
        <td>4.08</td>
      </tr>
      <tr>
        <td>iPhone.nl</td>
        <td>550</td>
        <td>229.6</td>
        <td>98.4</td>
        <td>0.6</td>
        <td>1.64</td>
      </tr>
      </tbody>
    </table>
  <% end %>
  <%= showcase_code do %>
    <table class="table--striped">
      ...
    </table>
  <% end %>
<% end %>

<h2>Results</h2>

<%= showcase do %>
  <%= showcase_sample do %>
    <table class="table--results">
      <thead>
      <tr>
        <th>API client</th>
        <th>Click outs</th>
        <th>Revenue API client</th>
        <th>Revenue supplier</th>
        <th>eCPC</th>
        <th>Conversion</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Studentmobiel.nl</td>
        <td>2147</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td>WebsiteGroep</td>
        <td>1843</td>
        <td>1561.798</td>
        <td>669.342</td>
        <td>1.21</td>
        <td>3.8</td>
      </tr>
      <tr>
        <td>iCulture</td>
        <td>1395</td>
        <td>223.265</td>
        <td>95.685</td>
        <td>0.23</td>
        <td>0.72</td>
      </tr>
      <tr>
        <td>Androidworld</td>
        <td>1011</td>
        <td>244.755</td>
        <td>104.895</td>
        <td>0.35</td>
        <td>1.19</td>
      </tr>
      <tr>
        <td>Kok Media</td>
        <td>888</td>
        <td>550.991</td>
        <td>236.139</td>
        <td>0.89</td>
        <td>2.7</td>
      </tr>
      <tr>
        <td>Kieskeurig.nl</td>
        <td>588</td>
        <td>587.293</td>
        <td>251.697</td>
        <td>1.43</td>
        <td>4.08</td>
      </tr>
      <tr>
        <td>iPhone.nl</td>
        <td>550</td>
        <td>229.6</td>
        <td>98.4</td>
        <td>0.6</td>
        <td>1.64</td>
      </tr>
      </tbody>
    </table>
  <% end %>
  <%= showcase_code do %>
    <table class="table--results">
      ...
    </table>
  <% end %>
<% end %>